<!-- Footer -->
<footer
	class="footer-custom text-center text-lg-start text-dark w-100">
	<!-- Arrière-plan pleine largeur -->
	<div
		class="py-4">
		<!-- Conteneur pour centrer le contenu -->
		<div
			class="container">
			<!--Grid row-->
			<div
				class="row my-4">
				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
						<img src="{{ asset('images/Logo.png') }}" height="150" alt="Logo" loading="lazy"/>
					</div>
					<p class="text-center text-dark">Apicultrice en Lot-et-Garonne (47)</p>
				</div>

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-dark mb-4">Liens utiles</h5>
					<ul class="list-unstyled">
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Boutique en ligne
							</a>
						</li>
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Conseils d'utilisation
							</a>
						</li>
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Plan du site
							</a>
						</li>
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Mentions légales
							</a>
						</li>
					</ul>
				</div>

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-dark mb-4">Où trouver mes produits ?</h5>
					<ul class="list-unstyled">
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Points de vente
							</a>
						</li>
						<li class="mb-2">
							<a href="#" class="text-dark">
								<i class="fa-brands fa-forumbee pe-2"></i>
								Devenir distributeur
							</a>
						</li>
					</ul>
				</div>

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-dark mb-4">Contact</h5>
					<ul class="list-unstyled">
						<li>
							<p>
								<i class="fas fa-map-marker-alt pe-2"></i>
								<a href="https://www.google.com/maps?q=Faouret,+47330+Bias" target="_blank">Faouret, 47330 Bias</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-phone pe-2"></i>
								<a href="tel:+33651794297" class="text-dark">
									06 51 79 42 97</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-envelope pe-2 mb-0"></i>
								<a href="mailto:contact@cameleon-solutions.fr" class="text-dark">contact@mariefarjaud.fr</a>
							</p>
						</li>
					</ul>
				</div>
			</div>

			<!-- Section Réseaux sociaux -->
			<div class="text-center my-4">
				<h5 class="text-uppercase text-dark mb-3">Suivez-moi</h5>
				<a href="https://www.facebook.com/profile.php?id=100086569909395" target="_blank" class="text-dark me-3">
					<i class="fab fa-facebook fa-2x"></i>
				</a>
				<a href="https://instagram.com/votrecompte" target="_blank" class="text-dark me-3">
					<i class="fab fa-instagram fa-2x"></i>
				</a>
			</div>

			<!-- Copyright -->
			<div class="text-center text-dark p-3 d-flex justify-content-center align-items-center">
				Site réalisé par&nbsp;
				<a href="https://cameleon-solutions.fr/" class="text-dark">Caméléon-Solutions</a>
			</div>

		</div>
	</div>
</footer>
